$selectedColor: rgb(0, 81, 255);
$allignment: -29px;

.container {
    position: absolute;
    top: 15%;
    left: $allignment;
}

a:active, a:focus {
    outline: 0;
    border: none;
}

.bottom-container {
    position: absolute;
    bottom: 0;
    left: $allignment;;
}

.mat-icon {
    font-size: 250%;
    color: white;
}

.mat-icon:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.mat-icon:active {
    color: rgba(255, 255, 255, 0.2);
}

ul {
    list-style-type: none;
}

.whitespace {
    height: 1em;
}

.selected {
    color: $selectedColor;
}

.selected:hover {
    color: darken($color: $selectedColor, $amount: 10%);
}